{{~#if @root.host~}}
  {{~#ifCond @root.host "regex" "github|gitlab" "i" ~}} {{~!-- BitBucket does not support html --~}}
    <a name="{{version}}"></a>
  {{~/ifCond~}}
{{~else~}}
  <a name="{{version}}"></a>
{{~/if~}}
{{#if isPatch~}}
  ##
{{~else~}}
  #
{{~/if}} {{#if @root.linkCompare~}}
  [{{version}}](
  {{~#if @root.repository~}}
    {{~#if @root.host}}
      {{~@root.host}}/
    {{~/if}}
    {{~#if @root.owner}}
      {{~@root.owner}}/
    {{~/if}}
    {{~@root.repository}}
  {{~else}}
    {{~@root.repoUrl}}
  {{~/if~}}
  {{~#if @root.host~}}
    {{~#ifCond @root.host "regex" "bitbucket" "i" ~}} {{~!-- BitBucket makes the comparision with two dots --~}}
      /compare/{{previousTag}}..{{currentTag}})
    {{~else~}}
      /compare/{{previousTag}}...{{currentTag}})
    {{~/ifCond~}}
  {{~else~}}
    /compare/{{previousTag}}...{{currentTag}})
  {{~/if~}}
{{~else}}
  {{~version}}
{{~/if}}
{{~#if title}} "{{title}}"
{{~/if}}
{{~#if date}} ({{date}})
{{/if}}
